django==5.0.1
djangorestframework==3.14.0
djangorestframework-simplejwt==5.3.1
python-dotenv==1.0.0

flower==2.0.1
redis==5.0.1
celery==5.3.6

ipython==8.20.0

# test requirements
factory-boy==3.3.0
pytest==7.4.4
pytest-django==4.7.0
schema==0.7.5