{% extends "base.html" %}
{% load static %}

{% block content %}

<div class="container-fluid">

    <!-- Page Heading -->
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h1 class="h3 mb-0 text-gray-800">users</h1>
        <a href="{% url 'main:ucreate' %}" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm"><i
                class="fas fa-plus fa-sm text-white-50"></i> Add User</a>
    </div>
     

    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">all users</h6>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                    <thead>
                        <tr>
                            <th>username</th>
                            <th>email</th>
                            <th>permission</th>
                            <th>#</th>
                        </tr>
                    </thead>
                    
                    <tbody>

                        {% for user in users %}
                        <tr>
                            <td><a href="{% url 'main:udetail' user.id %}">{{user.username}}</a></td>
                            <td>{{user.email}}</td>
                            <td>{{user.permission}}</td>
                            <td><a href="{% url 'main:uupdate' user.id %}" class="pr-2">edit</a> 
                                <a href="{% url 'main:udelete' user.id %}">delete</a></td>
                        </tr>
                        {% endfor %}

                    </tbody>
                </table>
            </div>

            {% if is_paginated %}

                {% if page_obj.has_previous %}
                    <a class="btn btn-outline-info mb-4" href="?page=1">First</a>
                    <a class="btn btn-outline-info mb-4" href="?page={{ page_obj.previous_page_number }}">Previous</a>
                {% endif %}

                {% for num in page_obj.paginator.page_range %}
                    {% if page_obj.number == num %}
                    <a class="btn btn-info mb-4" href="?page={{ num }}">{{ num }}</a>
                    {% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3' %}
                    <a class="btn btn-outline-info mb-4" href="?page={{ num }}">{{ num }}</a>
                    {% endif %}
                {% endfor %}

                {% if page_obj.has_next %}
                    <a class="btn btn-outline-info mb-4" href="?page={{ page_obj.next_page_number }}">Next</a>
                    <a class="btn btn-outline-info mb-4" href="?page={{ page_obj.paginator.num_pages }}">Last</a>
                {% endif %}

            {% endif %}
        </div>
    </div>
</div>

{% endblock content %}